.page-content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  border-top: 1px solid #d0d4d8;
  &__header {
    margin: 70px auto 40px auto;
    font-family: Georgia, sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #4e5665;
  }
  &__info {
    margin: 30px auto;
    width: 100%;
    max-width: 970px;
    height: 100%;
    font-family: AvenirNext, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #505050;
  }
  &__icon {
    width: 100%;
    max-width: 970px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d0d4d8;
  }
  &__icon-wrapper {
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.icon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  &__numbers {
    width: 100%;
    height: 100%;
    font-family: AvenirNext, sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #4e5665;
  }
  &__text {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-family: AvenirNext, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #909090;
  }
}

.readmore {
  font-family: Georgia, sans-serif;
  color: #8c001a;
  font-size: 16px;
}

.readmore:hover {
  color: yellow;
  transition: 0.4s;
}
.image {
  margin: 64px 235px 101px 235px;
  width: 970px;
  height: 430px;
  display: flex;
  &__background-field {
    width: 470px;
    height: 289px;
    background-color: #ffffff;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin: 70px 0 70px 0;
    margin-right: -70px;
  }
  &__header {
    width: 220px;
    margin: 40px 227px 0 40px;
    font-family: Georgia, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: #4e5665;
  }
  &__description {
    margin: 16px 40px 40px 40px;
    font-family: AvenirNext, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #505050;
  }
  &__field {
    width: 570px;
    height: 428px;
    object-fit: contain;
    z-index: 1;
  }
  &__background-food {
    width: 470px;
    height: 289px;
    background-color: #ffffff;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin: 70px 0 70px 0;
    margin-left: -70px;
  }
  &__beach img{
    width: 570px;
    height: 428px;
    object-fit: contain;
    z-index: 1;
    border-radius: 4px;
  }
}

.image-background__border:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  border-top: 2px solid #8c001a;
  border-left: 2px solid #8c001a;
  margin: 19px 0 0 19px;
}

.image-background__border:after {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  border-bottom: 2px solid #8c001a;
  border-right: 2px solid #8c001a;
  margin: 237px 0 0 416px;
}