@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/project_fonts/AvenirNext-DemiBoldItalic.ttf") format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/project_fonts/AvenirNext-Medium.ttf") format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/project_fonts/AvenirNext-Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Georgia';
  src: url("../assets/project_fonts/georgia.ttf") format('ttf');
}

@font-face {
  font-family: 'Georgia';
  src: url("../assets/project_fonts/georgia-Bold.ttf") format('ttf');
}

